@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 10 10 15;
}

body {
  background: rgb(10 10 15);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(34, 211, 238, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(34, 211, 238, 0.8);
}
